@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body{
    font-family: 'Noto Serif JP', sans-serif;
}
.wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.element{
    background-color: #CCFFCC;
    border-radius: 10px;
    font-size: 24px;
    width: 30%;
    margin: 20px;
}

ul{
    list-style: none;
}
